.side-bar {
  background: #191718;
}
.side-bar ul {
  padding: 0;
  margin: 0;
}
.side-bar ul li {
  color: #aaaaaa;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1px solid #aaaaaa;
  padding: 12px 30px;
      cursor: pointer;
}

.side-bar ul li:hover {
  color: #fff;
}